pip==22.2.1
streamlit==1.11.0
pandas
numpy
seaborn
matplotlib
datetime
plotly
pybase64
Image
statsmodels
pickle5
prophet
sklearn
xgboost
statsmodels
warnings
scikit-learn
pystone
streamlit-option-menu
