pip==22.2.1
Pillow==9.2.0
streamlit==1.11.0
DateTime==4.5
numpy==1.23.0
pandas==1.4.3
scikit-learn==1.1.1
pandocfilters==1.5.0
plotly==5.9.0
prophet==1.1
seaborn==0.11.2
statsmodels==0.13.2
streamlit-option-menu==0.3.2
xgboost==1.6.1
pybase64==1.2.2
matplotlib==3.5.2
